.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 1px 0 10px 6px rgba(0, 0, 0, 0.2);
}
.nav-text {
 margin: auto 0;
}
.nav-section {
  display: flex;
  color: #F9F9F9;
}
.nav-subtitle {
  margin: 0 10px;
}
.form {
  margin-right: 30px;
}
.form-control {
  border-radius: 0;
  background-color: #F9F9F9;
}
body {
background-color: #F9F9F9;
}
.main {
  margin: 50px 0;
}
.main-title{
  display: flex;
  justify-content: center;
}
.container-cards{
  display: flex;
  justify-content: center;
}
.card{
  text-align: center;
  margin: 20px;
  border-radius: 0;
  border: solid 3px #000;
}
.card-img-top{
  border-radius: 0;
}
.card-title {
  font-weight: bold;
}
.card-text{
  height: 200px;
  font-size: 0.95rem;
}
.btn {
  border-radius: 0;
}
.container-top{
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: #000;
  box-shadow: 0 1px 10px 6px rgba(0, 0, 0, 0.2);
}
.image{
  width: 600px;
  margin: 30px;
}
.container-middle {
  display: flex;
  justify-content: space-around;
  background-color: #000;

}
.block-footer {
  width: 200px;
  background-color: #000;
  color: #F9F9F9;
  margin: 10px;
  padding: 10px;
}
@media (max-width: 860px){
  /* navbar */
  .container-fluid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .nav-section {
    display: flex;
    flex-direction: column;
  }
  .form {
    margin: 10px 0;
  }
  /* main */
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .main-title {
    display: flex;
    justify-content: center;
  }
  .main-title img {
    width: 400px;
  }
  /* footer */
  .image {
    width: 300px;
  }
  .container-middle{
    display: flex;
    flex-wrap: wrap;
  }
  .block-footer {
    font-size: 0.6rem;
    margin: 5px;
    width: 100px;
  }
  h3 {
    font-size: 0.8rem;
  }
  .copyright {
    font-size: 0.6rem;
  }
}
@media (max-width: 1440px) {
  .container-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .image {
    width: 600px;
  }
}